* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  font-family: montserrat;
}

/*------------ navbar start--------- */

nav {
  background-color: #e7f7ff;
  height: 6.5vmax;
  width: 100%;
  /* z-index: 20;
  position: static;
  top: 0px;
  left: 0px; */
}
.logo {
  height: 3vmax;
  margin-top: 2.5vmax;
  margin-left: 5vmax;
}
nav ul {
  float: right;
  margin-right: 4vmax;
}
nav ul li {
  display: inline-block;
  line-height: 8vmax;
  margin: 0 1vmax;
}
nav ul li a {
  color: rgb(70, 70, 70);
  font-size: 2vmax;
  padding: 1vmax 1vmax;
  border-radius: 3px;
  text-decoration: none;
}
a.active,
a:hover {
  background: #e7f5ff;
  transition: 0.5s;
}
.checkbtn {
  font-size: 3vmax;
  color: rgb(18, 173, 194);
  float: right;
  line-height: 8vmax;
  margin-right: 4vmax;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.img3 {
  /* border: 3px solid black; */
  height: 3vmax;
  border-radius: 50%;
}
/*------------ navbar end--------- */

/* -----------maindiv start --------------------*/
.maindiv {
  display: flex;
  /* height: 40vmax; */
  width: 100%;
  /* border: 2px solid black; */
}
.leftdiv {
  height: 40vmax;
  width: 50%;
  /* border: 2px solid rgb(238, 100, 100); */
}
.h1 {
  margin-left: 6vmax;
  /* border: 2px solid rgb(238, 100, 100); */
  margin-top: 3vmax;
  height: 90%;
}
h1 {
  font-size: 3vmax;
  line-height: 1em;
}
.leftdiv p {
  color: rgb(64, 165, 224);
  font-size: 1.5vmax;
}
.h2 {
  font-size: 4vmax;
  color: rgb(64, 165, 224);
}
.btn {
  color: white;
  background-color: rgb(64, 165, 224);
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 20vmax;
}
/* .lefttdiv > div > img {
  border: 3px solid rgb(143, 56, 56);
} */
.rightdiv {
  display: flex;
  height: 40vmax;
  width: 50%;
  /* border: 2px solid rgb(232, 235, 58); */
}
.rightdiv_1 {
  /* border: 3px solid rgb(248, 9, 9); */
  height: 40vmax;
  width: 20%;
  position: relative;
}
.rightdiv_1 > .img1 {
  /* border: 3px solid rgb(161, 201, 19); */
  height: 25vmax;
  /* width: 100%; */
  position: absolute;
  left: 30px;
  bottom: 10px;
  z-index: -1;
}
.rightdiv_2 {
  /* border: 3px solid rgb(117, 248, 9); */
  height: 40vmax;
  width: 80%;
  position: relative;
}
.rightdiv_2 > .img2 {
  /* border: 3px solid rgb(72, 243, 255); */
  height: 40vmax;
  width: 100%;
}
.rightdiv_2 > .img3 {
  /* border: 3px solid rgb(248, 9, 9); */
  height: 10%;
  width: 10%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
/* -----------maindiv end --------------------*/

/* -----------maindiv_2 start --------------------*/

.maindiv_2 {
  display: flex;
  /* border: 3px solid black; */
  height: 40vmax;
}
.leftdivimg_2 {
  height: 40vmax;
  width: 40%;
  /* border: 3px solid rgb(255, 93, 93); */
}
.maindiv_2 > .leftdivimg_2 > .img4 {
  height: 90%;
  width: 100%;
  /* border: 3px solid rgb(28, 83, 231); */
  /* margin-top: 3em; */
}
.rightdivcard_2 {
  /* display: flex; */
  height: 40vmax;
  width: 60%;
  /* border: 3px solid rgb(109, 25, 25); */
}
.card {
  display: flex;
  position: relative;
  /* top: 9vmax; */
  left: 0px;
  height: 25vmax;
  width: 25%;
  /* border: 3px solid rgb(170, 228, 225); */
  overflow: hidden;
  border-radius: 10px;
}
.icon1 {
  width: 3rem;
}
.rightdivcard_2 > div h1 {
  font-size: 2vmax;
}
.h1container {
  height: 20%;
  width: 100%;
  /* border: 3px solid rgb(55, 230, 2); */
}
.cardContainer {
  position: relative;
  left: -50px;
  justify-content: space-between;
  display: flex;
  height: 64%;
  width: 100%;
  /* border: 3px solid rgb(195, 230, 2); */
}
.cardContainer > .card > h1 {
  font-size: 2vmax;
}
/* -----------maindiv end --------------------*/

/* -----------maindi3 start --------------------*/

.maindiv3 {
  display: flex;
  width: 100%;
  height: 40vmax;
  /* border: 2px solid rgb(255, 0, 0); */
  overflow: hidden;
}
.maindiv3left {
  width: 50%;
  height: 40vmax;
  /* border: 2px solid rgb(166, 255, 0); */
}
.maindiv3left1 {
  margin-top: 3em;
  margin-left: 5vmax;
  margin-right: 2em;
  font-size: 1.5vmax;
}
.maindiv3left1 > h6 {
  font-size: 1.5vmax;
}
.maindiv3left1 h2 {
  font-size: 3vmax;
}
.maindiv3right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40vmax;
  /* border: 2px solid rgb(0, 225, 255); */
}
.maindiv3right1 {
  width: 80%;
  height: 100%;
  /* border: 2px solid rgb(0, 89, 255); */
}
.maindiv3right > .maindiv3right1 > img {
  width: 100%;
  height: 100%;
}

/* -----------maindiv3 end --------------------*/

/* <!------------ component4 start--------------- --> */

.maindiv4 {
  display: flex;
  width: 100%;
  height: 40vmax;
  background-color: rgb(20, 20, 73);
}
.maindiv4left {
  margin-top: 3vmax;
  margin-left: 11vmax;
  color: #ffffff;
  /* margin-left: 7vmax; */
  width: 39%;
  height: 35vmax;
  /* border: 2px solid rgb(25, 255, 244); */
  display: flex;
}
.maindiv4leftCardBody {
  flex-direction: row;
  /* border: 2px solid rgb(251, 255, 34); */
  width: 9vmax;
  height: 100%;
  /* margin-right: 2em; */
}
.maindiv4leftCard {
  font-size: 1.4vmax;
  /* border: 2px solid rgb(76, 207, 0); */
  width: 97%;
  height: 10vmax;
  margin: 1.2vmax;
}
.maindiv4leftCard > img {
  border-radius: 10px;
  width: 6vmax;
  height: 60%;
  /* border: 2px solid rgb(250, 74, 221); */
}
.maindiv4right {
  /* border: 2px solid rgb(255, 126, 126); */
  /* color: #ffffff; */
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.maindiv4right1 {
  /* border: 2px solid rgb(154, 255, 108); */
  color: #ffffff;
  width: 60%;
  height: 60%;
  font-size: 1vmax;
  /*
  display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
}
.maindiv4right1 > h3 {
  font-size: 2vmax;
}

/* <!------------ component4 end--------------- --> */

/* <!------------ component5 start--------------- --> */

.maindiv5 {
  width: 100%;
  height: 105vh;
  border: 3px solid rgb(32, 103, 184);
}
.maindiv5h1 {
  margin-top: 4%;
  width: 100%;
  /* border: 3px solid black; */
}
.maindiv5h1 > h3 {
  text-align: center;
  font-size: 3vmax;
}
.maindiv5Card {
  margin-top: 2vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maindiv5Card > .card {
  margin-right: 2vmax;
  box-shadow: 5px 10px 10px #e2e2e2;
  border-radius: 9px;
  height: 30%;
  width: 40%;
  border: 1px solid rgb(185, 185, 185);
}
.maindiv5Card > .card img {
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
  height: 4vmax;
  width: 4vmax;
}
.media-body {
  margin-left: 4vmax;
}

/* <!------------ component5 end--------------- --> */
/* <!------------ component6 start--------------- --> */

.maindiv6 {
  display: flex;
  width: 100%;
  height: 13vmax;
  color: white;
  background-color: rgb(20, 20, 73);
}
.maindiv6div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 13vmax;
  /* border: 3px solid rgb(199, 255, 176); */
}

/* <!------------ component6 end--------------- --> */
/* -----------component7 start --------------------*/
.component7 {
  width: 100%;
  height: 50vmax;
  /* border: 2px solid rgb(255, 71, 71); */
}
.component7header {
  text-align: center;
  width: 100%;
  height: 5vmax;
  /* border: 2px solid rgb(243, 255, 71); */
}
.carousel {
  /* border: 2px solid black; */
  width: 100%;
  height: 35vmax;
}
.carousel-item > .component7_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 35vmax;
  border: 1px solid rgb(218, 218, 218);
  text-align: center;
  font-size: 1.5vmax;
  border-radius: 15px;
  font-family: "Pacifico", cursive !important;
}
.carousel-item > .component7_div h1 {
  font-family: "Pacifico", cursive !important;
}
.carousel-item > .component7_div img {
  width: 17%;
  /* height: 5vmax; */
  /* border: 2px solid rgb(0, 225, 255); */
  /* text-align: center; */
  /* font-size: 1.5vmax; */
}
.carousel-item {
  margin-left: 25%;
  /*
  position: relative;
  top: 10%;
  left: 70%;
  transform: translate(-50%, -80%); */
  /* border: 2px solid rgb(255, 31, 244); */
}
.carousel-control-prev {
  background-color: black;
  width: 5vmax;
  height: 5vmax;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 9%;
  z-index: 1;
}
.carousel-control-next {
  background-color: black;
  width: 5vmax;
  height: 5vmax;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 85%;
  z-index: 1;
}

/* -----------component7 end --------------------*/
/* -----------component8 start --------------------*/

.component8 {
  width: 100%;
  border: 2px solid black;
  position: relative;
  left: 0;
  top: 0;
}
.component8 > img {
  width: 100%;
}
.component8 > .img1 {
  position: relative;
  top: 0;
  left: 0;
}
.component8 > .img2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
.component8 > .leftdivimg_2 {
  position: relative;
  top: 0;
  left: 0;
}

/* -----------component8 end --------------------*/
/* -----------component9 start --------------------*/

.maindiv9 {
  display: flex;
  height: 40vmax;
  width: 100%;
  border: 1px solid black;
}
.maindiv9left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 33.33%;
  height: 40vmax;
  /* border: 1px solid rgb(255, 81, 81); */
}
.maindiv9left > img {
  width: 30%;
}
.maindiv9left1 {
  margin: 15px;
}
.maindiv9left1 > img {
  margin: 15px;
  cursor: pointer;
}
.maindiv9mid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 33.33%;
  height: 40vmax;
  /* border: 1px solid rgb(255, 81, 81); */
}
.maindiv9mid > ul > li {
  padding: 10px;
}
.maindiv9mid > ul > li > a {
  color: black;
  text-decoration: none;
}
.maindiv9right > ul > li > a {
  color: black;
  text-decoration: none;
}
.maindiv9right > ul > li {
  padding: 10px;
}
.maindiv9right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 33.33%;
  height: 40vmax;
  /* border: 1px solid rgb(255, 81, 81); */
}

/* -----------component9 end --------------------*/
/* -----------component10 start --------------------*/

.footer {
  color: #ffffff;
  background-color: rgb(40, 66, 114);
}
.footer > p {
  text-align: center;
  padding: 0.5vmax;
}

/* -----------component10 end --------------------*/

@media (max-width: 952px) {
  /* label.logo{
    font-size: 30px;
    padding-left: 50px;
  } */
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  .nav_ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f5faff;
    top: 6.5vmax;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 10;
    }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 0px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover {
    background: none;
    color: #d4ebfd;
  }
  #check:checked ~ ul {
    left: 0;
  }

  .logo {
    display: block;
    margin-left: 6vmax;
    margin-top: 1vmax;
  }






  .maindiv {
    flex-direction: column;
    /* border: 2px solid rgb(255, 35, 35); */
  }
  
.leftdiv {
  /* height: 40vmax; */
  width: 100%;
  /* border: 2px solid rgb(240, 255, 31); */
}
.rightdiv {
  display: flex;
  height: 100%;
  width: 100%;
  /* border: 2px solid rgb(118, 255, 27); */
}
.rightdiv_2 > .img2 {
  object-fit: cover;
  /* border: 3px solid rgb(72, 243, 255); */
  /* height: 100%; */
  /* width: 100%; */
}
  .maindiv_2 {
    flex-direction: column;

    /* display: flex; */
    /* border: 3px solid rgb(241, 46, 46); */
    /* height: 40vmax; */
  }
  .maindiv3 {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    border: 2px solid rgb(255, 0, 0);
    /* overflow: hidden; */
  }
  .maindiv3left {
    width: 100%;
    /* height: 40vmax; */
    border: 2px solid rgb(166, 255, 0);
  }
  .maindiv3right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 40vmax; */
    border: 2px solid rgb(0, 225, 255);
  }
}
